body{
    margin: 0;
    padding: 0;
    background-color: #151515;
}

.text-orange-red{
    color: orangered;    
}

.bg-blue{
    background-color: #066EDB;
}

button:hover{
    border: 3px solid #052565;
}

.title{
    font-size: 68px;
    color: orangered;
}
hr{
    color: #066EDB;
    margin-bottom: 30px;
}
.card{
    border: 1px solid #052565;
}

.emblem{

}

.ball{
}

.perfect-fit{
    max-width: inherit;
}

.text-box{    
    border: 2px solid #066EDB;
}