body{
    margin: 0;
    padding: 0;
    background-color: #151515;
}

.title{
    font-size: 68px;
    color: orangered;
}
hr{
    color: orangered;
    margin-bottom: 30px;
}
.card{
    border: 1px solid orangered;
}

.emblem{

}

.ball{
}

.per-player-field{
    border: 2px solid orangered;
}